/* .delete-button {
    color: red ;
    text-align: center;
    margin-top: 2rem;
    margin-left: 9rem;
    display: inline-block;
    background-color: #F2E3C9; 
    font-size: 20px;
    border-color: #ee8787;
    border-radius: 5px;
    cursor: pointer;
} */

/* CSS */
.delete-button {
  color: red;
  padding: 1rem 1.2rem;
  line-height: 1;
  border: 0;
  transition: box-shadow 0.2s;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 9rem;
  display: inline-block;
  background-color: #f2e3c9;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  box-shadow: red 0 0 0 1px, transparent 0 0 0 0;
}

.icon-trash {
  padding: 5px;
} 
